{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="{% static 'css/slide.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/Main.css' %}" type="text/css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="slide-section">
        <div class="topnav" id="myTopnav" style="position: absolute;">
            <a href="{% url 'home' %}" class="active">Home</a>
            <a href="http://jesusyouth.org/"target="_blank">Jesus Youth</a>
            <a href="https://www.facebook.com/keralacampusministry/">Campus Ministry</a>
            <a href="{% url 'mission' %}">Mission 2020</a>
            <a href="{% url 'aboutus' %}">More Info</a>
            {% if user.is_authenticated %}
            <a href="{% url 'participants' %}">Add Participant</a>
            <a href="{% url 'logout' %}">Log Out</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
<!--         <video autoplay muted loop id="myVideo">-->
<!--    <source src="{% static 'videos/mission.mp4' %}" type="video/mp4">-->
<!--            Your browser does not support HTML5 video.-->
<!--          </video>-->
</body>
</html>